@font-face {
  font-family: lotteHappyBold;
  src: url("../../public/font/12lotteHappyBold.ttf");
}

@font-face {
  font-family: lotteHappyLight;
  src: url("../../public/font/12lotteHappyLight.ttf");
}

@font-face {
  font-family: lotteHappyMedium;
  src: url("../../public/font/12lotteHappyMedium.ttf");
}

@font-face {
  font-family: NanumGothic-Bold;
  src: url("../../public/font/NanumGothic-Bold.ttf");
}

@font-face {
  font-family: NanumGothic-ExtraBold;
  src: url("../../public/font/NanumGothic-ExtraBold.ttf");
}
@font-face {
  font-family: NanumGothic-Regular;
  src: url("../../public/font/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: YANGJIN;
  src: url("../../public/font/양진체v0.9_ttf.ttf");
}

@font-face {
  font-family: SCD-1;
  src: url("../../public/font/SCDream1.otf");
}

@font-face {
  font-family: SCD-2;
  src: url("../../public/font/SCDream2.otf");
}

@font-face {
  font-family: SCD-3;
  src: url("../../public/font/SCDream3.otf");
}

@font-face {
  font-family: SCD-4;
  src: url("../../public/font/SCDream4.otf");
}

@font-face {
  font-family: SCD-5;
  src: url("../../public/font/SCDream5.otf");
}

@font-face {
  font-family: SCD-6;
  src: url("../../public/font/SCDream6.otf");
}

@font-face {
  font-family: SCD-7;
  src: url("../../public/font/SCDream7.otf");
}

@font-face {
  font-family: SCD-8;
  src: url("../../public/font/SCDream8.otf");
}

@font-face {
  font-family: SCD-9;
  src: url("../../public/font/SCDream9.otf");
}
