* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  user-select: none;
}
#root {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 1920px;
  min-width: 1920px;
  /* overflow-x: hidden; */
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  border: none;
}
a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
